<!DOCTYPE html>
<div class="container">
  <h3 class="card center">User Login</h3>
    <form class="card" method="post" action="/users/login">
      <input type="text" name="username" placeholder="Username:">
      <input type="password" name="password" placeholder="Password:">
      <input class="align-left" type="submit" value="Login">
    </form>
<p class="right"><button onclick="window.location='/users/new'">Create account</button></p>
</div>
