<!DOCTYPE html>
<div class="container">
  <h3 class="card center">Create User</h3>
    <form class="card" method="post" action="/users/new">
	    <input type="text" name="username" placeholder="Username:">
      <input type="password" name="password" placeholder="Password:">
	    <input type="submit" value="Create Account">
	  </form>
<p class="right"><button onclick="window.location='/users/login'">Login</button></p>
</div>
