<!DOCTYPE html>
<div class="container">
    <h4 class="card center">Create Destination</h3>
    <form method="post" action="/destinations/<%=@destination.id%>">
      <div class="card">
      <input id="hidden" type="hidden" name="_method" value="patch">
	    <input type="text" name="destination" value="<%=@destination.dest_name%>">
      <input type="text" name="dest_desc" value="<%=@destination.dest_description%>">
      </div>
	    <input type="submit" value="Update Destination">
	  </form>
<p class="right"><button onclick="window.location='/users/login'">Login</button></p>
</div>
