<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h4 class="card center">Whoops, something went wrong.</h4>
    <div class="content">
      <p class="card">Invalid input, make sure everything is filled out.<br>
       Return to <a href="/destinations">Destinations</a> to continue.</p>
    </div>
  </div>
</div>
