<div class="container">
    <h4 class="card center">Whoops, something went wrong.</h4>
      <p class="card">Invalid input, make sure everything is filled out.<br>
       Return to <a href="/destinations">Destinations</a> to continue.</p>
</div>
