<!DOCTYPE html>
<div class="container">
  <h3 class="card center">Create Destination</h3>
    <form method="post" action="/destinations/new">
      <div class="card">
	    <input type="text" name="[dest]destination" placeholder="Destination:">
      <input type="text" name="[dest]dest_desc" placeholder="Description:">
      </div>
	    <input type="submit" value="Create Destination">
	  </form>
<p class="right"><button onclick="window.location='/users/login'">Login</button></p>
</div>
